@model Course
@{
}

<h1> @Model.Name <h1/>

<p>Are you sure you want to delete this course?</p>

@using (Html.BeginForm("Delete", "Course", FormMethod.Post))
{
    @Html.HiddenFor(c => c.Id);

    <button type="submit">Yes</button>
}

<br/>
<button>No</button>
