   <br>
   <br>
   <br>
   <br>
   <input name="username" type="text" placeholder="Enter Username" [(ngModel)]="username">
    <input name="name" type="text" placeholder="Enter Full Name" [(ngModel)]="name">    
    <input name="email" type="text" placeholder="Enter Email" [(ngModel)]="email">
    <input name="password" type="password" placeholder="Enter Password" [(ngModel)]="password">
    <label>Confirm Password</label>
    <input name="password" type="password" placeholder="Enter Password" [(ngModel)]="confirmPass">

    <button type="submit" (click)="submit()">Submit</button>
