<br>
<br>
<br>
<form class="mx-1 mx-md-4" (ngSubmit)="submit(loginForm)" #loginForm="ngForm">
    <div id="form-body" class="text-center">
        <div class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Username" name="username" ngModel required #username="ngModel">
    
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" ngModel required #password="ngModel">

            <input class="btn btn-primary btn-lg" type="submit" [disabled]="loginForm.invalid" value="Sign In">
        </div>
    </div>
</form>
