<br>
<br>
<br>
<br>
<div style="margin-left:5%;">
    <h1>Thank you for your order</h1>
    <h2>{{order.name}}</h2>
    <p>Order Date: {{order.date | date: 'short'}}</p>
    <p>Delivery Address: {{order.deliveryAddress}}, {{order.city}} {{order.postalCode}}</p>
    <p>Email: {{order.email}}</p>
    <p>Total: {{order.total | currency}}</p>
    <h4>Order Summary:</h4> 
    <div>
        <table class="table">
            <tbody>
                <div *ngFor="let item of items">
                    <app-order-detail-item-display [watch]="item"></app-order-detail-item-display>
                </div>
                
            </tbody>
        </table>
    </div>
</div>
